importFrom("stats", "complete.cases", "predict", "var", "vcov")

S3method(print,genJS)
S3method(summary,genJS)
S3method(coef,genJS)
S3method(predict,genJS)
S3method(vcov,genJS)

export(pvalue_A)
export(mse)
export(genJS)
export(SCV)
export(jackknife_var)
